body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    font-size: 18px;
    padding: 25px 25px;
    border-bottom: 1px solid #232323;
}

/***************
přidání produktu
****************/


.productDescription {
    resize: none;

}
.containerP {
    
    max-width: 600px;
    margin: 2% auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5rem 1rem;
    border: 1px solid rgb(248, 248, 248);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .add-product-form label {
    display: block;
    margin-bottom: 10px;
  }
  .add-product-form {
    display: flex;
    flex-direction: column;
    
  }
  .add-product-form input,
  .add-product-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  
  .add-product-form button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-product-form button:hover {
    background-color: #0056b3;
  }


.HomeProductsContainer{
    flex-direction: column;
}
.productHeader{
    width: 100%;
    position: relative;

    
    margin-bottom: 2%;
    background-color: #ffc354;
    padding: 20px 0px;
}
.productHeader ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
   
}
.productHeader ul li {
    flex: 1;
    margin-right: 8%;
    font-size: 16px;
    color: white;
    font-weight: 600;
    text-align: center;
}
.categoryHeader{
    width: 100%;
    position: relative;

    
    margin-bottom: 2%;
    background-color: #ffc354;
    padding: 20px 0px;
}
.categoryHeader ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
   
}

.categoryHeader ul li{
    flex: 1;
    font-size: 16px;
    color: white;
    font-weight: 600;
    text-align: center;
}
#homeProducts, #homeCategory{
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.button{
    background-color: #ffc354;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.button:nth-child(1){
    background-color: black;
}
.button:hover {
    cursor: pointer;
}
.buttonsDiv{
    display: flex;
    gap: 5px;
}

header{
    background-color: #333;
    color: #fff;
    position: relative;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1;
}
.headerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}

header a {
    text-decoration: none;
    color: #ffffff;
    padding: 4px;
    border-radius: 20%;
    border: solid white 2px;
}
header a:hover {
    color: #ffc354;
    border: #ffc354 solid 2px;
}
.menu {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    display: none;
}
.menu span {
    height: 10%;
    background-color: #ffffff;
}
aside {
    background-color: #ffc354;
    width: 250px;
    height: calc(100% - 50px);
    position: fixed;
    left: 0px;
    overflow-y: auto;
    z-index: 2;
    transition: left 0.3s ease-in-out;

}
aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

aside ul li {
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    position: relative;
}

aside ul li ul{
    display: none;
    position: absolute;
    top: 100%; 
    left: 0; 
    width: 100%; 
    background-color: #ffc354;
    z-index: 3; 
    transition: max-height 0.3s ease; 
}

aside ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

aside ul li:hover ul {
    display: block; 
    max-height: 200px; 
    overflow-y: auto; 
}

aside ul li a:hover {
    background-color: #ffc354;
}
main {
    margin-left: 250px;
    padding: 20px;
    display: block;
}

.center-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.center-content h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
.edit-btn, .delete-btn {
    display: inline-block;
    padding: 4px 8px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 5px;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: #0056b3;
}

/* 
change
*/
.center-content {
    text-align: center;
}

.center-content h2 {
    margin-bottom: 20px;
}

.edit-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
display: inline-block;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 30px;
    color: #ffffff;
    background: #000000;
    letter-spacing: 4px;
    position: relative;
    bottom: 0;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: #000000;
    position: relative;
    bottom: 1px;
    transition: bottom 0.1s ease-in;
}
.input-row {
    margin-bottom: 10px; 
    display: flex; 
    align-items: center;
  }
  
  .input-row label {
    margin-right: 10px;
  }
  
  .input-row select {
    flex: 1;
  }

  /*
  employee home
  */
  #homeMain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
  }
  @media (max-width: 900px) {
    .menu {
        display: flex;
    }
    aside {
        left: -300px;
    }
    #homeMain{
      grid-template-columns: 1fr 1fr;
      margin-left: 0;
     
    }
  }
  @media (max-width: 500px) {
    .menu {
        display: flex;
    }
    #homeMain{
      grid-template-columns:1fr;
    }
  }
  .homeDiv {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
    width: 80%;
    margin: 4%;
    min-height: 100px;
    border-radius: 5px;
    padding: 2% 5%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5rem 1rem;
    border: 1px solid rgb(248, 248, 248);
  }
  .homeDiv:hover {
    transition: 0.3s ease-in-out 0s;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 0.5rem 1rem;

  }
  .homeDiv img {
    height: 75px;
  }
  .homeDiv:nth-child(1) a {
    color: #ffbb00;
  }
  .homeDiv:nth-child(2) a {
    color: #00ccff;
  }
  .homeDiv:nth-child(3) a {
    color: #cc00ffab;
  }
  .homeDiv:nth-child(4) a {
    color: #0fb300;
  }
  .homeDiv:nth-child(5) a {
    color: #a305ca;
  }
  .homeDiv:nth-child(6) a {
    color: #3bb430;
  }
  .homeDiv:nth-child(7) a {
    color: #cc00ffab;
  }
  .homeA {
    font-weight: 700;
    text-decoration: none;
    color: #000000;
  }
  .homeA:hover {
    color: #818181;
  }

  /*
  objednávky
  */

.admin-container {
    width: 70%;
    position: relative;
    left: 20%;
    top: 40%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.admin-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

#order-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.order-item {
    border-bottom: 1px solid #ccc;
    padding: 20px 30px;
    width: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.order-item h2, span{
    flex: 1;
}
.order-item span{
    text-align: center;
}
.order-item:last-child {
    border-bottom: none;
}

.order-item h2 {
    margin: 0;
}

.order-product {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.order-product img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
}

/*Order info*/
.order-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-info h2{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.product-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.product-details img{
    height: 60px;
}

.orderHeader{
    width: 82%;
    position: relative;
   
    left: 17%;
    top: 30px;
    background-color: #ffc354;
    padding: 20px 0px;
}
.orderContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.orderHeader ul{
    padding-right: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.orderHeader ul li{
    flex: 1;
    font-size: 16px;
    color: white;
    font-weight: 600;
    text-align: center;
}

/**/

.product-details {
    flex: 1;
}

.product-details h3 {
    margin: 0;
    font-size: 1.2em;
}

.product-price {
    margin-top: 5px;
    font-size: 1em;
    color: #888;
}

/* Responsive Styles */
@media (max-width: 900px) {
    .admin-container {
        width: 90%;
        margin: 20px auto;
    }

    .order-product img {
        width: 60px;
        height: 60px;
    }

    .product-details h3 {
        font-size: 1em;
    }

    .product-price {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .admin-container {
        width: 100%;
        margin: 10px auto;
        padding: 10px;
    }

    .order-product img {
        width: 50px;
        height: 50px;
    }

    .product-details h3 {
        font-size: 0.9em;
    }

    .product-price {
        font-size: 0.8em;
    }
}
